page-log-weight {
    input {
        background-color:#333333;
        color:white;
        font-size:16pt;
    }
    .log-weight {
        position:absolute;
        bottom:0px;

    }
    .main-content {
        padding:20px;
    }
 
}
   .textCenter {
      text-align: center;
    }
    .weights {
        height:85%;
        width:45%;
        float:left;
    }
    .reps {
        height:85%;
        width:44%;
        float:left;
        font-size:18pt !important;
    }
    .split-50 {
        
    }