page-measurements {
    .list-text {
        padding:10px;
        text-align:center;
        margin-top:25px;
        display:block;
        color:darkgrey;

    }
    .log-button {
        position:absolute;
        bottom:0px;

    }
    .main-content {
        padding:20px;
    }
}
