<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.title}}
    <!--<ion-icon [name]="selectedItem.icon"></ion-icon>-->
    <ion-icon class="ion-information-circled"></ion-icon>
  </h3>
    <canvas baseChart
      class="chart"
      [datasets]="datasets"
      [labels]="labels"
      [options]="options"
      [colors]="chartColors"
      [chartType]="'line'">
    </canvas>
          <div class="log">
    <table>

      <tr>
        <th>Date</th>
        <th>Weight</th> 
        <!--<th>Reps</th>-->
      </tr>
      <tr>
        <td>2/1</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/1</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/1</td>
        <td>31</td>5
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/1</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/1</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/1</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/1</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/1</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/1</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/1</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
            <tr>
        <td>2/1</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
            <tr>
        <td>2/1</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
            <tr>
        <td>2/1</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
            <tr>
        <td>2/2</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
                  <tr>
        <td>2/2</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
                  <tr>
        <td>2/2</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
                  <tr>
        <td>2/2</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
                  <tr>
        <td>2/2</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
                  <tr>
        <td>2/2</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
                  <tr>
        <td>2/2</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
                  <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
                  <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
      <tr>
        <td>2/3</td>
        <td>31</td>
       <!-- <td>15 x 2</td>-->
      </tr>
    
    </table>
</div>
    <a (click)="newLog($event, selectedItem)">
       <span class="span-button log-weight">Log Weight</span>
    </a>
</ion-content>

