page-custom-exercise {
    .list-text {
        padding:10px;
        text-align:center;
        margin-top:25px;
        display:block;
        color:darkgrey;

    }
    .addNew {
        float:right;
        background-color:transparent;
        margin-top:3px;
        font-size:16pt;
    }
}
