page-create-measurement {
    input {
        background-color:white;
        color:#0565C9;
        font-size:16pt;
    }
    .submit {
        position:absolute;
        bottom:0px;
    }
    .main-content {
        padding:20px;
    }
}
