<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Exercise Records</ion-title>



  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.title}}
    <button class="information" (click)="displayInfo()">
      <ion-icon name="ios-information-circle-outline"></ion-icon>
    </button>
    <!--<ion-icon [name]="selectedItem.icon"></ion-icon>-->
  </h3>
        <!--[labels]="labels"-->
   <!-- <canvas baseChart id="dataChart"
      class="chart"
      [datasets]="datasets"
      [labels]="labels"
      [options]="options"
      [colors]="chartColors"
      [legend]='false'
      [chartType]="'line'">
    </canvas>-->

    <p-chart #lineChart type="line" [data]="chartData"></p-chart>


    <div class="log">
        <span class="list-text" *ngIf="data.length == 0">
          No exercise data for this machine
        </span> 
        <table *ngIf="data.length != 0">
          <thead>
            <tr>
              <th>Date</th>
              <th>Weight</th> 
              <th>Reps</th>
              <th></th>
              <th></th> 
            </tr>
          </thead>
   
          <tbody id ="excerciseLog" #exerciseLog>
            <tr *ngFor="let log of data">
              <td>{{ log.date }}</td>
              <td>{{ log.weight }}</td>
              <td>{{ log.reps + " x " + log.sets }}</td>
              <!--<td>
                <button (click)='editRecord(log.id)'>
                  <i class='fa fa-pencil' aria-hidden='true'></i>
                </button>
              </td>-->
              <td>
                <button (click)='deleteRecord(log.id)'>
                  <i class='fa fa-times-circle'></i>
                </button>
              </td>
            </tr>
          </tbody>
        
        </table>
    </div>
    <a (click)="newLog($event, selectedItem)">
       <span class="span-button log-weight">Log Weight</span>
    </a>
</ion-content>

