page-exercise-log {
    h3 {
         background-color: #1e1e1e;
         color:white;
         margin:0px;
         padding:10px;
    }

    .log-weight {
            position:absolute;
            bottom:0px;
    }
    .log {
        overflow:auto;
        height:60%;

    }
    table {
        width:100%;
        text-align:center;

    }

    table tr {
        height:30px;
        /*overflow-y:auto;*/
    }
    table tr:nth(even){
        background-color:#CCCCCC;
    }
    .delete-text {
        color:red;
    }
    button {
       /* background-color:#0565C9;
        color:white;*/
        background-color:white;
        color:black;
        font-size:14pt;

    }
}
