page-exercise-log {
    h3 {
         background-color: #1e1e1e;
         color:white;
         margin:0px;
         padding:10px;
    }
    canvas {
        margin-top:10px;
    }

    .log-weight {
            position:absolute;
            bottom:0px;
    }
    .log {
        overflow:auto;
        height:46%;

    }
    table {
        width:100%;
        text-align:center;

    }

    table tr {
        height:30px;
        /*overflow-y:auto;*/
    }
    table tr:nth(even){
        background-color:#CCCCCC;
    }
    .delete-text {
        color:red;
    }
    button {
       /* background-color:#0565C9;
        color:white;*/
        background-color:white;
        color:black;
        font-size:14pt;

    }
    .list-text {
        padding:10px;
        text-align:center;
        margin-top:25px;
        display:block;
        color:darkgrey;

    }
    .information {
        float:right;
        background-color:#1E1E1E;
        color: white;
    }

}
